<ion-app>
  <header class="header" *ngIf="shouldShowNavbar()">
    <nav class="navbar">
      <a routerLink="home" >Home</a>
      <div class="about">
       <a href="#content"> About
        <button class="dropdown-btn">
          <span class="dropdown-icon">&#9660;</span>
          <!-- Unicode character &#9660; represents a downward-pointing triangle (chevron down) -->
          <div class="dropdown-content">
              <!-- Dropdown items -->
              <a href="../assets/DOC-20221229-WA0013..pdf" class="dropdown-item">Constitution</a>
              <a href="#" class="dropdown-item" style="display:table;padding-top:5px;padding-bottom:5px;">Chapter</a>
              <!-- <a href="#" class="dropdown-item">Item 3</a> -->
          </div>
        </button></a>
      </div>
    <!-- <ion-button id="popover-button"><ion-icon name="arrow-dropdown"></ion-icon></ion-button>
<ion-popover trigger="popover-button" [dismissOnSelect]="true">
<ng-template>
  <ion-content>
    <ion-list>
      <ion-item [button]="true" [detail]="false">Option 1</ion-item>
      <ion-item [button]="true" [detail]="false">Option 2</ion-item>
      <ion-item [button]="true" id="nested-trigger">More options...</ion-item>

      <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-list>
  </ion-content>
</ng-template>
</ion-popover> -->
        <a routerLink="alumni">Alumni</a>
        <a routerLink="reunion">Reunion</a>
        <a routerLink="membership">Membership</a>
        <a routerLink="donate">Donate</a>
        <a  routerLink="team">Team</a>
        <a routerLink="#">Contact Us</a>
    </nav>
  </header>
  <!-- <ion-split-pane contentId="main-content"> -->
    <ion-menu side="end" contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="home-list">
            <div id="img">
            <img src="../assets/LOGO....png">
            </div>
            <div class="container"><b>AAECA</b></div>
          <ion-note class="name2" style="color: black;">
            Alumni Association Engineering College Ajmer
          </ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <div class="social-icons">Follow us On :
            <a href="https://twitter.com" target="_blank">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <a href="https://facebook.com" target="_blank">
             <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a href="https://instagram.com" target="_blank">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a href="https://linkedin.com" target="_blank">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </div>
        </ion-list>

        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
       
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  <!-- </ion-split-pane> -->
</ion-app>




<!-- <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" role="button" id="pages" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
                      <ul class="dropdown-menu" aria-labelledby="pages">
                        <li><a href="about.html" class="dropdown-item">About Us </a></li>
                      </ul>
                    </li> -->