<ion-app>
  <header class="header" *ngIf="shouldShowNavbar()">
    <nav class="navbar">
      <ion-button fill="clear" color="medium"><a routerLink="home" >Home</a></ion-button>

<ion-button fill="clear" color="#6d6d6d" id="popover-button"style="background: none;height:5px;text-decoration: none;">About<ion-icon name="arrow-dropdown"></ion-icon>
  <span class="dropdown-icon"  style="background: none;">&#9660;</span></ion-button>
<ion-popover trigger="popover-button" [dismissOnSelect]="true">
<ng-template>
  <ion-content>
    <ion-list color="medium" style="text-decoration: none;">
      <ion-item [button]="true" [detail]="false"><a href="#content" color="medium" style="text-decoration: none;" class="dropdown-item">About</a></ion-item>
      <ion-item [button]="true" [detail]="false"><a href="../assets/DOC-20221229-WA0013..pdf" color="medium" style="text-decoration: none;"class="dropdown-item">Constitution</a></ion-item>
      <ion-item [button]="true" id="nested-trigger">More options...</ion-item>

      <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false">Nested option</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-list>
  </ion-content>
</ng-template>
</ion-popover>

<ion-button fill="clear" color="medium"> <a routerLink="alumni">Alumni</a></ion-button>
  <ion-button fill="clear" color="medium"><a routerLink="reunion">Reunion</a></ion-button>
    <ion-button fill="clear" color="medium"> <a routerLink="membership">Membership</a></ion-button>
      <ion-button fill="clear" color="medium"><a routerLink="donate">Donate</a></ion-button>
        <ion-button fill="clear" color="medium"> <a  routerLink="team">Team</a></ion-button>
        <ion-button fill="clear" color="medium"><a routerLink="#">Contact Us</a></ion-button>
    </nav>
  </header>
  <!-- <ion-split-pane contentId="main-content"> -->
    <ion-menu side="end" contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="home-list">
            <div id="img">
            <img src="../assets/LOGO....png">
            </div>
            <div class="container"><b>AAECA</b></div>
          <ion-note class="name2" style="color: black;">
            Alumni Association Engineering College Ajmer
          </ion-note>

           <!-- Other menu items -->
           <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ng-container *ngIf="p.title !== 'About' && p.title !== 'Constitution'">
              <!-- Render regular menu item -->
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ng-container>
          
            <ng-container *ngIf="p.title === 'About'">
              <!-- Render dropdown button -->
              <ion-item button="true" detail="false" lines="none" (click)="toggleAboutDropdown($event)">
                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                <ion-label>About</ion-label>
                <ion-icon slot="end" [name]="showAboutDropdown ? 'chevron-up' : 'chevron-down'"></ion-icon>
              </ion-item>
              
              <!-- Render dropdown items -->
              <div *ngIf="showAboutDropdown" class="dropdown-content">
                <ion-item [button]="true" [detail]="false" lines="none">
                  <a href="#content" color="medium" style="text-decoration: none;" class="dropdown-items">
                    <ion-icon  slot="start" name="information-circle-outline"></ion-icon>
                    About
                  </a>
                </ion-item>
                <ion-item [button]="true" [detail]="false" lines="none">
                  <a href="../assets/DOC-20221229-WA0013..pdf" color="medium" style="text-decoration: none;" class="dropdown-items">
                    <ion-icon  slot="start" name="document"></ion-icon>
                    Constitution
                  </a>
                </ion-item>
              </div>
            </ng-container>
          </ion-menu-toggle>
          
          <div class="social-icons">Follow us On :
            <a href="https://twitter.com" target="_blank">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <a href="https://facebook.com" target="_blank">
             <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a href="https://instagram.com" target="_blank">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a href="https://linkedin.com" target="_blank">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </div>
        </ion-list>

       
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  <!-- </ion-split-pane> -->
</ion-app>
