<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <div class="menu-btn">
        <ion-menu-button></ion-menu-button>
      </div>
    </ion-buttons>
    <ion-title>
      <div class="name">
        <img src="../../assets/AAECA-LOGO.png">
        <p>Alumni Association</p>
        <br>
        <p>Engineering College Ajmer</p>
        <br>
        <!-- <p id="sub">An Association of ECA Alumini</p> -->
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="header">
    <h2> <b>Donate Us:</b></h2>
    <p>You can Donate for<b> AAECA</b> </p>
  </div>
  <div class="form">
    <ion-list>
      <ion-item>
        <ion-label position="floating">
          Your Name
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="formData.Name" name="Name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          Gender
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-select [(ngModel)]="formData.Gender" name="Gender" required>
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="other">Other</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          Employer
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="formData.Employer" name="Employer" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          Private Email
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="formData.Email" name="Email" type="email"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">
          LinkedIn
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="formData.LinkedIn" name="LinkedIn" type="url" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          Designation
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="formData.Designation" name="Designation" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          Mobile No.
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="formData['Mobile No']" name="Mobile No" type="tel" pattern="[0-9]{10}"
          title="Mobile number should be 10 digits and contain only numbers" maxlength="10" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          Payment Method
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input [(ngModel)]="formData.Payment" name="Designation" type="text" required></ion-input>
      </ion-item>


      <!-- <ion-item>
    <ion-label position="floating">
      Whatsapp No. 
      <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input  [(ngModel)]="formData['Whatsapp No']" name="Whatsapp No" type="tel" pattern="[0-9]{10}" title="Mobile number should be 10 digits and contain only numbers" maxlength="10" required></ion-input>
  </ion-item> -->

      <ion-item>
        <ion-label position="floating">
          Address
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-textarea [(ngModel)]="formData.Address" name="Address" type="text" required></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          Why are you donating?
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-textarea [(ngModel)]="formData.donate" name="text" type="text" required></ion-textarea>
      </ion-item>

      <!-- <ion-item>
    <ion-label position="floating">
      Marksheet or Any Proof 
      <ion-text color="danger">*</ion-text>
    </ion-label><br>
    <ion-input [(ngModel)]="formData.Marksheet" name="Marksheet" type="file" accept="application/pdf"  required></ion-input>
  </ion-item> -->

  <div class="submit" style="display: flex;margin-bottom:10px">
    <ion-button style="width: 30vw;margin-left:13%;margin-top:2%" fill="outline">Cancel</ion-button>
    <ion-button style="width: 30vw;margin-left:13%;margin-top:2%" expand="block"
      (click)="submitForm()">Submit</ion-button>
  </div>
    </ion-list>
  </div>


  <!-- Footer  -->
  <div class="foot">
    <ion-icon name="location"></ion-icon><b>Address</b>
    <p> Alumni Association office
      Room No. NB203
      Engineering College Ajmer</p>

    <ion-icon name="call"></ion-icon><b>Phone</b>
    <p>+91 7891012342</p>

    <ion-icon name="mail"></ion-icon><b>Email</b>
    <p><a href="ecaajmer.ac.in">Alumniaffairs.ac.in</a></p>

    <!-- Page to follow -->
    <div class="logo">
      <H2>Follow us on:</H2>
      <ion-icon name="logo-instagram"><a href="instagram.in"></a></ion-icon>
      <ion-icon name="logo-github"><a href="github.in"></a></ion-icon>
      <ion-icon name="logo-google"><a href="ecajmer.ac.in"></a></ion-icon>
      <ion-icon name="logo-linkedin"><a href="ecajmer.ac.in"></a></ion-icon>
    </div>
  </div>


  <div class="note">
    <P>www.ecajmer.ac.in</P>ALUMNI OF GECA.
    <P>Developed by CS Students.</P>GECA
  </div>
</ion-content>