<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <div class="menu-btn">
        <ion-menu-button></ion-menu-button>
      </div>
    </ion-buttons>
    <ion-title>
      <div class="name">
        <img src="../../assets/AAECA-LOGO.png">
          <p>Alumni Association</p>
          <br>
          <p>Engineering College Ajmer</p>
          <br>
          <!-- <p id="sub">An Association of ECA Alumini</p> -->
        </div>
   </ion-title>
  </ion-toolbar>
</ion-header>

<header class="header">
  <nav class="navbar">
      <a href="#" class="active">Home</a>
      <a href="#" >About</a>
      <a href="../alumni">Alumni</a>
      <a href="../reunion">Reunion</a>
      <a href="../membership">Membership</a>
      <a href="../donate">Donate</a>
      <a href="../team">Team</a>
      <a href="#">Contact Us</a>
  </nav>
</header>


<ion-content fullscreen="true">
  <div id="title">
    <h1><b>AAECA Team Members</b></h1>
  </div>
  
  <ion-grid>
    <ion-row>
      <!-- card 1 -->
      <ion-card>
        <img alt="Manish" src="assets/Manish Gena.png" />
        <ion-card-header>
          <ion-card-title><b>Manish Gena</b></ion-card-title>
          <ion-card-subtitle>President</ion-card-subtitle>
        </ion-card-header>
        
        <ion-card-content>
          <b> Graduated from ECA in 2001 In Mechanical Engineering</b>
          <br>
        <ion-text>
          From the very beginning, he was inclined to start his own business and hence right
        after completing his Engineering he laid the foundation of his business empire in the
        form of moonstar marbles in Rajsamand area. He further scaled in his business and as
        on date he owns Granite manufacturing firms Mansi Stonex and Siyaram granites.
        These firms employs 50+ people in the company. He is also very active in Granite
        Mining space too. His business expands from Gujarat , MP, Maharashtra, Andhra
        Pradesh and entire North Region.
        
        Though he belong to family with a strong political background, its due to his unique
        business acumen and connect in the business community, he became active President
        of Rajsamand Granite Association. He is an active CSR activist and supports
        orphanages in Ajmer area generously.
        <br>
        
        <b>Key Goals he wants to focus on immediate terms</b>
        <li>
          
          Preparing & encouraging students to adapt Startup culture and get self employed</li>
          <li>
            
            Remediating problems that students see limits their growth while learning</li>
            <li>
              
              Strengthening the association by improving Alumni reach.</li>
              <li>
                
                Upgrading all labs & other infra in college to match world class standards</li>
                <li>
                  
                  Striving for boys hostel as well as staff quarter in the college</li>
                </ion-text>
                </ion-card-content>
              </ion-card>
    
    <!-- Card 2 -->
    <ion-card>  
      <img alt="Abhishek" src="assets/Abhishek saxena.png" />
      <ion-card-header>
        <ion-card-title><b>Abhishek Saxena</b></ion-card-title>
        <ion-card-subtitle>Vice President (Acting President)
        </ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        <b>Hi ECA-ites,</b>

        I completed my BE from Mechanical Engineering in 2001. ECA as an institute has given me platform, support and confidence to fight any battle in the world. Because of that preparation, many from our initial batches of institute despite been through many struggles and journey of multi decades, are in a position where we can give back to Alma mater.
        
        During my 4 years tenure at institute, I won 159 certificates across multi streams ranging from Mehendi competition  to Technical quizzes at university levels and have represented college in various cultural and extracurricular activities. From 1999-2001 have served as Sports Secretary for the institute and at the same time landed in Top 20 university rankers in engineering stream. I happen to have distinction to be only termed Micheal Jackson and happen to win Mr. ECA too in our times, I hope that still holds as record to be broken soon .
        <br>
        Now after serving 20 years in Infosys, being an active recruiter in IT field for last 10 years and being associated with college TPO for last 7 years, when we had the opportunity to form AAECA, we felt like this is the moment, more than us Alumnus, current students have been waiting for. This is a Key milestone of 1st elections for AAECA, and I am proud to be part of it as a participant in these elections. Please come and VOTE in numbers and vote for any candidate you seem worthy for the post.
        
        My Key focus areas will be - Gender Neutral Campus, Innovation driven new learning & improving on the recruitments front.
        
      </ion-card-content>
    </ion-card>
    
    
    <!-- card 3 -->
    <ion-card>
      <img alt="Hansraj" src="assets/hansraj meena.png" />
      <ion-card-header>
        <ion-card-title><b>Hansraj Meena</b></ion-card-title>
        <ion-card-subtitle>General Secretary</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        <b>Friends</b> from my dear engineering college, Ajmer, my most respected senior and my most
        Dear juniors friends, my name is Hansraj Meena,
        <br> I am a 2003 passout in Electronics and
        I am from Communication Branch, I have followed your orders and advice from Engineering College, Ajmer.
        Has submitted his application for the post of General Secretary in the election of Aluminum Association.
        I want to tell you something about myself that I have worked in Indian Railways for about 20 years.
        I have been doing this and have served in North East Frontier Railway and North Western Railway.
        In which I have given my support in safe operation of trains and big projects and further
        Now, as per your orders, I will devote some of my time to the alumni of my college.
        I want to contribute to the association so that I can do something for my beloved engineering college.
        To be able to do this, my endeavor in future will be to work through government or private medium.
        I can attract maximum funds for my college through this medium or from anyone else.
        So that I can give a good name to this college at the national level and all my aluminum
        So that I can organize my friends, I humbly request you and request with folded hands that
        Please help me in making me the winning candidate for this post by voting as much as possible.
      </ion-card-content>
</ion-card>
        </ion-row>

        <ion-row>
        <!-- Card 4 -->
        <ion-card>
          <img alt="Vivek" src="assets/Vivek goyal.png" />
          <ion-card-header>
            <ion-card-title><b>Vivek Goyal</b></ion-card-title>
    <ion-card-subtitle>Joint Secretary</ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    <b>Graduate from ECA in 2003</b>
    <br>

    Business Management/ Operations Expert/ Resource Planner n Technocrat . worked with various Telecom Companies
    including Reliance Industries,Airtel Tata and Vodafone at different positions. Started his career as Engineer and left
    working for corporate as Project Manager in the year of 2014 to start giving employment and Providing Quality Service in
    Telecom Industry.
    <br>
    
    Currently has a team of 100+ employees and operations in five states of North and Central India, Vivek posses a strong
    network among technocrats in Telecom and Infrastructure Industry. Owning a Private Limited Company as Director,
    Vivek will certainly an asset to the alumni association and will provide enhanced opportunities of employment and
    training exposure to students of our institution. If elected, I am committed to advocating for your rights, promoting
    open dialogue, and implementing positive changes that enhance our college experience. I believe in the power of unity
    and inclusivity, and I aim to create an environment where every student feels heard, valued, and supported.
    
    <br>
    Moreover, I bring with me a strong sense of responsibility, effective communication skills, and a passion for leadership. I
    am dedicated to organizing events and initiatives that foster community engagement, promote personal growth, and
    celebrate our diverse talents.
    <br>
    
    However, I recognize that I cannot accomplish these goals alone. I need your support and trust to bring about
    meaningful change. I encourage you to share your ideas, concerns, and aspirations with me so that together, we can
    shape a better future for our college.
    <br>
    
    In conclusion, I am confident that, with your support, dedication, and active participation, we can create a college
    community that reflects our shared values, celebrates our achievements, and empowers every student to reach their full
    potential. I humbly ask for your vote in the upcoming college election, as together, we can make a difference.
    <br>
    
    Thank you for your attention, and I look forward to earning your trust and serving you to the best of my abilities.
  </ion-card-content>
</ion-card>
<!-- <ion-row> -->
  <!-- Card 5 -->
  <ion-card>
    <img alt="Jaiprakash" src="assets/Jaiprakash.png" />
    <ion-card-header>
      <ion-card-title><b>Jaiprakash Jhajharia</b></ion-card-title>
      <ion-card-subtitle>Treasurer</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <b>Graduate from ECA in 2005 in Computer Science & Engineering. </b>
      <br>
      
      Worked as Guest faculty in ECA in 2006. 
      <br>
      
      I joined the UCO Bank in 2006 as IT officer. Presently posted at UCO Bank Zonal Office Ajmer as a Chief Manager and looking after Credit department.
      <br>
      
      My priority will be to keep transparency in inflow and outflow of funds and to ensure periodic audits. 
      <br>
      
      I will be responsible for protection of fund and will ensure there are no misuse of funds with the help of an application driven process avoiding manual processes.
      
    </ion-card-content>
  </ion-card>
  
  <!-- Card 6 -->
  <ion-card>
    <img alt="Sanjeev" src="assets/Sanjeev ola.png" />
    <ion-card-header>
      <ion-card-title><b>Sanjeev Ola</b></ion-card-title>
      <ion-card-subtitle>Joint Secretary</ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    <b>Graduation in 2006 (I.T) from ECA.</b>
    <br>
    
    OlaJi is an IT professional with 16+ years of experience.
    <br>
    
    OlaJi also has a strong knowledge in domain like FinTech, Shipping and
    Logistics, Water & Utility, Indian Government Projects. OlaJi currently working
    with Santech as Product Manager in Jaipur. Previously worked with Sigma
    (Jodhpur), Portall (Noida, Mumbai), Scan-IT( Bangkok, Pune) and Wipro
    (London, Bangkok, Bangalore and Gurgaon).
    <br>
    
    OlaJi is simple, milansar, friendly and helping nature person.
    <br>
    
    In short you can say "Ola is Enough".
    <br>
    
    OlaJi priority after getting selected as Joint Secretary on priority is:
    <br>
    
    Helping in fund raising and connecting with more people.
    <br>
    
    Focus more on campus hiring.
  </ion-card-content>
  
  
</ion-card>
</ion-row>

<!-- card 7 -->
<ion-card>
  <img alt="Lalit" src="assets/Lalit mohan.png" />
  <ion-card-header>
    <ion-card-title><b>Lalit Mohan</b></ion-card-title>
    <ion-card-subtitle>Executive Member</ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    <b>Graduate from ECA in 2001 & Post Graduate from MNIT in 2003</b>
    <br>

Educator/ procurement expert/ financial planner & trader.
Worked with various institutions and universities as lecturer,
assistant professor, associated prof and head like LIET/IET/
MITRC Alwar, MAIET/Gyan Vihar/Apex Jaipur, EMIT Mathura ,
Amity University Gurgaon .
<br>

He was also associated with Govt institution like MNIT as
teaching Assistant , Engineering College Bharatpur, Engineering
college Banswara as a visiting faculty.
<br>

Currently associated with Government Engineering College Baran
& Dholpur as an administrator.
</ion-card-content>
</ion-card>
</ion-grid>

<!-- Footer -->

<div class="foot">
  <ion-icon name="location"></ion-icon><b>Address</b>
  <p> Alumni Association office
    Room No. NB208
    Engineering College Ajmer</p>
  
    <ion-icon name="call"></ion-icon><b>Phone</b>
    <p>+91 7891012342</p>
    
  <ion-icon name="mail"></ion-icon><b>Email</b>
  <p>Alumniaffairs.ac.in</p>
  
  <!-- Page to follow -->
  <div class="logo"><H2>Follow us on:</H2>
  <ion-icon name="logo-instagram"><a href="instagram.in"></a></ion-icon>
  <ion-icon name="logo-github"><a href="github.in"></a></ion-icon>
  <ion-icon name="logo-google"><a href="ecajmer.ac.in"></a></ion-icon>
  <ion-icon name="logo-linkedin"><a href="ecajmer.ac.in"></a></ion-icon>
</div>
</div>


<div class="note">
  <P>www.ecajmer.ac.in</P>ALUMNI OF GECA.
  <P>Developed by CS Students.</P>GECA
</div>

</ion-content>