<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <!-- card 1 -->
      <ion-card>  
      <img alt="Silhouette of mountains" src="assets/abhishek.png" />
      <ion-card-header>
        <ion-card-title><b>Abhishek Sakshena</b></ion-card-title>
        <ion-card-subtitle>Vice President (acting President)
        </ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        Hi ECA-ites,

        I completed my BE from Mechanical Engineering in 2001. ECA as an institute has given me platform, support and confidence to fight any battle in the world. Because of that preparation, many from our initial batches of institute despite been through many struggles and journey of multi decades, are in a position where we can give back to Alma mater.
        
        During my 4 years tenure at institute, I won 159 certificates across multi streams ranging from Mehendi competition  to Technical quizzes at university levels and have represented college in various cultural and extracurricular activities. From 1999-2001 have served as Sports Secretary for the institute and at the same time landed in Top 20 university rankers in engineering stream. I happen to have distinction to be only termed Micheal Jackson and happen to win Mr. ECA too in our times, I hope that still holds as record to be broken soon .
        Hi ECA-ites,

        I completed my BE from Mechanical Engineering in 2001. ECA as an institute has given me platform, support and confidence to fight any battle in the world. Because of that preparation, many from our initial batches of institute despite been through many struggles and journey of multi decades, are in a position where we can give back to Alma mater.
        
        During my 4 years tenure at institute, I won 159 certificates across multi streams ranging from Mehendi competition  to Technical quizzes at university levels and have represented college in various cultural and extracurricular activities. From 1999-2001 have served as Sports Secretary for the institute and at the same time landed in Top 20 university rankers in engineering stream. I happen to have distinction to be only termed Micheal Jackson and happen to win Mr. ECA too in our times, I hope that still holds as record to be broken soon .
          <br>
          <br>Now after serving 20 years in Infosys, being an active recruiter in IT field for last 10 years and being associated with college TPO for last 7 years, when we had the opportunity to form AAECA, we felt like this is the moment, more than us Alumnus, current students have been waiting for. This is a Key milestone of 1st elections for AAECA, and I am proud to be part of it as a participant in these elections. Please come and VOTE in numbers and vote for any candidate you seem worthy for the post.

          My Key focus areas will be - Gender Neutral Campus, Innovation driven new learning & improving on the recruitments front.
                
      </ion-card-content>
    </ion-card>
    
    <!-- Card 2 -->
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem corporis error labore. Ut aut ipsam ipsa quia consequuntur, odit sequi exercitationem ullam facere voluptates? Dolorum quibusdam, officia quisquam odio accusantium iure neque reprehenderit veniam vel esse, non adipisci ipsa, totam repellendus illum necessitatibus quo dolor quam eveniet distinctio quasi laboriosam aliquid at similique. Vitae nam, impedit, porro fugit eum possimus illo sapiente incidunt perspiciatis eos sed corporis. Recusandae sed modi laboriosam est dicta necessitatibus neque asperiores consectetur iure, temporibus, quos quas dolore alias voluptate corrupti quibusdam excepturi provident voluptas quidem nesciunt minima assumenda? Corrupti sint nisi sequi adipisci ipsum beatae!
  </ion-card-content>
</ion-card>

<!-- card 3 -->
<ion-card>
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>
</ion-row>

<ion-row>
<!-- Card 4 -->
<ion-card>
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>

<!-- Card 5 -->
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    
  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>

<!-- Card 6 -->
<ion-card>
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
  
  
</ion-card>
</ion-row>

<ion-card>
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>
</ion-grid>
</ion-content>