// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


ion-content {
  // overwrite inline styles
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
  display: none;
  }
  }


<<<<<<< HEAD
// Navbar
ion-header{
  height: 8vh;
  ion-toolbar{
    height: 8.4vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: -1px 5px 6px -2px rgb(62, 0, 107);
  ion-buttons{
    p{
      font-size: 0.5rem;
    } 
  }  
=======
  ion-header{
    height: 10vh;
    ion-toolbar{
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    //  box-shadow: -1px 5px 6px -2px rgb(62, 0, 107);
    ion-buttons{
      margin-top: 10px;
      p{
        font-size: 0.5rem;
      } 
    }  
>>>>>>> 331dd38d64f07ff7323807c0767fac8e16ddb8e5
    .name{
      // padding-top: 10px;
      height: 7vh;
      font-weight: bold;
      width: 20vw;
      display: flex;
      margin-top: 10px;
      padding-left: 10px;
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: .1em;
      align-items: center;
      #sub{
        font-weight: normal;
        font-size: 10px;
    }
    }
<<<<<<< HEAD
    

    .name img{
      margin-top: -8px;
      height: 5vh;
      width: 16vw;
    }


  @media screen and (max-width:712px) {
      .name{
        // padding-top: 10px;
        height: 7vh;
        width: 20vw;
        display: flex;
        padding-left: 5px;
        text-transform: uppercase;
        font-size: 9px;
        font-weight: bolder;
        letter-spacing: .1em;
        align-items: center;
        #sub{
          font-weight: bolder;
          font-size: 5px;
      }
      }
=======
  
>>>>>>> 331dd38d64f07ff7323807c0767fac8e16ddb8e5
      .name img{
        margin-top: -8px;
        height: 5vh;
        width: 16vw;
      }
<<<<<<< HEAD
      ion-header{
        height: 3vh;
        ion-toolbar{
          height: 3vh;
          ion-buttons{
            .login{
              ion-button{
                font-size: .6rem;
              }
            }
          }
=======
  
  
      @media (max-width:412px) {
        .name{
          // padding-top: 10px;
          height: 7vh;
          width: 20vw;
          display: flex;
          // padding-left: 10px;
          text-transform: uppercase;
          font-size: 8px;
          letter-spacing: .1em;
          align-items: center;
          #sub{
            font-weight: normal;
            font-size: 6px;
        }
        }
        .name img{
          height: 4vh;
          width: 16vw;
>>>>>>> 331dd38d64f07ff7323807c0767fac8e16ddb8e5
        }
      }
  
      .name p{
        display: contents;
      }
       
      }
    }
  
  @media (max-width:500px) {
    ion-header{
      height: 8vh;
  
    ion-toolbar{
      height: 8vh;
    }
    }
  }
<<<<<<< HEAD
}

@media (max-width:500px) {
  ion-header{
    height: 7vh;

  ion-toolbar{
    height: 7vh;
  }
  }
}

=======
>>>>>>> 331dd38d64f07ff7323807c0767fac8e16ddb8e5

// slides....

ion-content{
  scroll-behavior: smooth;
  ion-header{
    text-align: center;
  }
  ion-card{
        height: 100%;
        width: 100%;
        // overflow: scroll;
    
    ion-card-header{
      margin-bottom: 10px;
      font-size: 1.3rem;
      font-weight: bold;
      ion-card-title{
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
    }
    ion-label{
      font-weight: bold;
      font-size: 1.1rem;
    }
    ion-text{
      font-size: small;
    }
    ion-list{
      ion-item{
        margin-bottom: 10px;
      }
      img{
        border-radius: 50%;
      }
    }
  }
  .startPara{
    margin: 20px;
    font-size: 1.2rem;
  }
  
}

ion-grid{
  p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    padding-left: 25px;
  }
  ion-card{
    width: 30vw;
  }
}



#img{
  margin:auto;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 10%;
  width: 10%;
  justify-content: right;
  align-items: end;
}

#top{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

ion-menu-button.md{
  display: flex;
  justify-content: right;
  align-items: end;

}



ion-title{
  margin: 0%;
  padding: 0%;
  overflow: hidden;
}

//login
.login{
  display: flex;
  justify-content: center;
  align-items: end;
  margin: auto;
  text-align: center;
  display: flex;
  border-radius: 8px;
  border: 10px;
  border-bottom: black;
  padding: 5px;
  padding-right: 10px;
  color: white;
  background-color: rgba(50, 0, 91, 0.866);
}


//container
.container{
  h1{
    color: grey;
  }
<<<<<<< HEAD
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
=======
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
>>>>>>> 331dd38d64f07ff7323807c0767fac8e16ddb8e5
  background-color: rgb(27, 0, 61); 
  color: white;
  display: flex;
  height: 40%;
  width: 100%;
  flex-direction: column;
<<<<<<< HEAD
=======

>>>>>>> 331dd38d64f07ff7323807c0767fac8e16ddb8e5
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  line-height: 20px;
  margin-top: 2%;
  padding-bottom: 5%;
  padding-top: 2%;

}

#num{
  font-size: 1.5em;
  display: flex;
}



//content
#content{
  display: table-row;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 90%;
  width: 100%;
  margin: 10px;
  
}

#content p{
  margin: 10px;
}

#content h2{
  margin: 10px;
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
}

// Icon 
ion-icon{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 10px;
    font-size: large;

  }
//------
.reunion{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(180, 178, 178);
  z-index: 1;
  opacity: 1;
  border: 2px black;
  font-size: small;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;

}
.reunion b{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 5px;
  font-size: large;

}
.reunion p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 26px;

}


//----------
.alumni{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(180, 178, 178);
  z-index: 1;
  opacity: 1;
  border: 2px black;
  font-size: small;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;

}

.alumni b{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 5px;
  font-size: large;

}
.alumni p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 26px;

}


//-------
.book{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(180, 178, 178);
  z-index: 1;
  opacity: 1;
  border: 2px black;
  font-size: small;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;

}

.book b{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 5px;
  font-size: large;

}
.book p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 26px;

}


//------
.trophy{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(180, 178, 178);
  z-index: 1;
  opacity: 1;
  border: 2px black;
  font-size: small;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;

}

.trophy b{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 5px;
  font-size: large;

}
.trophy p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 26px;

}


//-----
.wallet{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(180, 178, 178);
  z-index: 1;
  opacity: 1;
  border: 2px black;
  font-size: small;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;

}
.wallet b{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 5px;
  font-size: large;

}
.wallet p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 26px;

}

a {
color: white;
text-decoration: none;

}



// footer
.foot{

padding: 10px;
background-color: rgb(25, 0, 45);
color: white;
text-decoration: none;
border-top-right-radius: 10px;
border-top-left-radius: 10px;

}

.foot b{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-left: 10px;
font-size: large;

}
.foot p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-left: 28px;

}


//logo
.logo ion-icon{
margin-left: 15px;
padding: 10px;
}

.logo h2{
padding-top: 20px;
padding-left: 25px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.note{
background-color: black;
color: white;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
font-size: x-small;
}

.note p{
color: grey;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
}


@media screen and (max-width:717px) {
  .container{
    height: 65%;
  }

  ion-header{
    height: 6vh;
    ion-toolbar{
      ion-title{
        #nav{
          margin-top: 5px;
          width: 20vw;
          height: 7vh;
          padding-left: 10px;
        }
      }
    }
  }

  ion-grid{
    ion-card{
      width: 90vw;
    }
  }

}
