<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
    <div class="login">
      <ion-button>
        <ion-icon name="log-in">
      </ion-icon>Login
    </ion-button></div>
    <div class="menu-btn">
      <ion-menu-button></ion-menu-button>
    </div>
    </ion-buttons>
    <ion-title>
    <div class="name">
    <img src="../../assets/AAECA-LOGO.png">
      <p>Alumni Association</p>
      <br>
      <p>Engineering College Ajmer</p>
      <br>
      <!-- <p id="sub">An Association of ECA Alumini</p> -->
    </div>
  </ion-title>
  </ion-toolbar>
</ion-header>

<header class="header">
  <nav class="navbar">
      <a href="home" >Home</a>
      <a href="#content">About</a>
      <a href="alumni">Alumni</a>
      <a href="reunion">Reunion</a>
      <a href="membership">Membership</a>
      <a href="donate">Donate</a>
      <a href="team">Team</a>
      <a href="#">Contact Us</a>
  </nav>
</header>


<ion-content [fullscreen]="true">

    <app-banner [slides]="slides"></app-banner>
    <div class="container">
      <h6 id="num">GECA in Numbers: &nbsp;</h6>
        <div>
      <h1><strong>{{ counterValue1 }}</strong>+</h1>ALUMNI &nbsp;
      <br>
      <h1><strong>{{ counterValue2 }}</strong>+</h1>Students On Campus &nbsp;
      <br>
      <h1><strong>{{ counterValue3 }}</strong>+</h1>Faculty &nbsp;
        </div>
    </div>


<div class="navs">
<div id="content">
  <h2><b>Engagements</b></h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo distinctio, corrupti pariatur ratione odio asperiores quae voluptatum ducimus est, nulla dicta aperiam, error ea. Vitae recusandae ducimus autem ullam quod deserunt distinctio vero repellendus quos!</p>
</div>
<div class="alumni"><a href="../alumni">
  <ion-icon name="school">
  </ion-icon><b> Alumni</b>
  <p>Lorem ipsum dolor sit amet consectetur.
  </p></a>
</div>
  <div class="reunion"><a href="../reunion">
    <ion-icon name="ribbon">
    </ion-icon><b> Reunion</b>
    <p>Celebrate your Next milestone reunion with us!</p>
  </a></div>
  <div class="book"><a href="../donate">
    <ion-icon name="Heart">
    </ion-icon><b> Donate</b>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></a>
  </div>
  <div class="trophy"><a href="../home">
    <ion-icon name="trophy">
    </ion-icon><b> Awards</b>
    <p>  Lorem, ipsum dolor sit amet consectetur adipisicing.
    </p></a>
  </div>
  <div class="wallet"><a href="../membership">
    <ion-icon name="wallet">
    </ion-icon><b> Membership</b>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, officiis!
    </p></a>
  </div>
</div>

  <div class="wallet"><a href="../team">
    <ion-icon name="people">
    </ion-icon><b> Teams</b>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, officiis!
    </p></a>
  </div>


  <ion-grid>
    <h2><b>Explore The College</b></h2>
    <ion-row>
      <!-- video1 -->
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Overview of College</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <iframe width="100%" height="275px" src="https://www.youtube.com/embed/CAiRpBSBLKQ?si=yzzxkbgwRWMqBYeb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <!-- video2 -->
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Campus Tour</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <iframe width="100%" height="275px" src="https://www.youtube.com/embed/3eAC7XaLLYA?si=ipeQ2NQidEufwJdm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </ion-card-content>
      </ion-card>
    </ion-col>
    
    <!-- video3 -->
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Campus Tour</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <iframe width="100%" height="275px" src="https://www.youtube.com/embed/3eAC7XaLLYA?si=ipeQ2NQidEufwJdm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>



<ion-card >
  <ion-card-header>
    <ion-card-title>Top Donation</ion-card-title>
    <ion-card-subtitle>Recently</ion-card-subtitle>
  </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Alumini Name 1</ion-label>
            <ion-text>Donation Amount</ion-text>
            <ion-text>For Development of xyz</ion-text>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Alumini Name 2</ion-label>
            <ion-text>Donation Amount</ion-text>
            <ion-text>For Development of xyz</ion-text>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Alumini Name 3</ion-label>
            <ion-text>Donation Amount</ion-text>
            <ion-text>For Development of xyz</ion-text>
          </ion-item>
          
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Alumini Name 4</ion-label>
            <ion-text>Donation Amount</ion-text>
            <ion-text>For Development of xyz</ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
   

<!-- Footer  -->
  <div class="foot">
    <ion-icon name="location"></ion-icon><b>Address</b>
    <p> Alumni Association office
      Room No. NB203
      Engineering College Ajmer</p>
    
    <ion-icon name="call"></ion-icon><b>Phone</b>
    <p>+91 7891012342</p>

    <ion-icon name="mail"></ion-icon><b>Email</b>
    <p><a href="ecaajmer.ac.in">Alumniaffairs.ac.in</a></p>
    
    <!-- Page to follow -->
    <div class="logo"><H2>Follow us on:</H2>
    <ion-icon name="logo-instagram"><a href="instagram.in"></a></ion-icon>
    <ion-icon name="logo-github"><a href="github.in"></a></ion-icon>
    <ion-icon name="logo-google"><a href="ecajmer.ac.in"></a></ion-icon>
    <ion-icon name="logo-linkedin"><a href="ecajmer.ac.in"></a></ion-icon>
    </div>
  </div>

<!-- Developer -->
<div class="devel">
  <h4>Developed by :</h4></div>
  <div class="developer">

  <div class="saqlain">
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" src="../../assets/Saqlain prof..jpg" />
  </ion-thumbnail>
  <ion-label>Mohammed Saqlain</ion-label>
  <br>
  <ion-icon name="logo-linkedin"></ion-icon><p><a href="http://www.linkedin.com/in/saqlain1754"> LinkedIn</a></p>
</div>

<div class="mayank">
  
  <ion-thumbnail slot="start">
    <img alt="Silhouette of mountains" src="../../assets/logo.png" />
  </ion-thumbnail>
  <ion-label>  Mayank Meghwal</ion-label>
  <br>
     <ion-icon name="logo-linkedin"></ion-icon><p><a href="https://www.linkedin.com/in/mayank-meghwal-2b4856205?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"> LinkedIn </a></p>
</div>
  </div>



  <div class="note">
    <P>www.ecajmer.ac.in</P>ALUMNI OF GECA.
    <P>Developed by CS Students.</P>GECA
  </div>
  
  </ion-content>













