<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-firestore.js"></script>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <div class="menu-btn">
        <ion-menu-button></ion-menu-button>
      </div>
    </ion-buttons>
    <ion-title>
      <div class="name">
        <img src="../../assets/AAECA-LOGO.png">
        <p>Alumni Association</p>
        <br>
        <p>Engineering College Ajmer</p>
        <br>
        <!-- <p id="sub">An Association of ECA Alumini</p> -->
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=NItemo:wght@400;700&amp;family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
  rel="stylesheet">




<ion-content>

  <div class="container" src="src/assets/bg rainb (1).jpg">
    <div class="inquiry-item col-lg-6">
      <div class="bg-light p-5 rounded-5">
        <h2 class="display-7 text-dark"> <b>Membership Form</b></h2>
        <p>Fill this form to became the member of <b>AAECA</b> </p>
        <form id="form" class="form-group flex-wrap" action="https://formspree.io/f/mleqndzl" method="POST">
          <div class="col-lg-12 mb-3">
            <label for="fname">Your Name :</label>
            <input name="Name" type="text" class="form-control ps-3 me-3" id="fname" placeholder="Write Your Name Here">
          </div>
          <div class="col-lg-12 mb-3">
            <label for="fname">College ID :<span class="required"></span></label>
            <input name="College ID" type="text" class="form-control" id="fname" required placeholder="Your College Id">
          </div>
          <div class="col-lg-12 mb-3">
            <label for="fname">Branch :<span class="required"></span></label>
            <select class="form-control" id="fname">
              <option class="grey" value="" disabled selected hidden>Select Branch</option>
              <option value="Computer Science">Computer Science (CS)</option>
              <option value="Cyber Security">Cyber Security (CYB)</option>
              <option value="Electrical">Electrical Engineering (EE)</option>
              <option value="Mechanical">Mechanical Engineering (ME)</option>
              <option value="Civil">Civil Engineering (CE)</option>
              <option value="Electronics & Communication">Electronics & Communication</option>
              <option value="Electronic Instrumentation & Control">Electronic Instrumentation & Control</option>
            </select>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="fname">Degree :</label>
            <select class="form-control" id="fname">
              <option class="grey" value="" disabled selected hidden>Select Degree</option>
              <option value="B.E.">B.E.</option>
              <option value="B.Tech">B.Tech</option>
              <option value="M.Tech">M.Tech</option>
              <option value="MCA">MCA</option>
              <option value="MBA">MBA</option>
            </select>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="fname">Select Batch :<span class="required"></span></label>
            <select class="form-control" id="fname">
              <option class="grey" value="" disabled selected hidden>Select Batch</option>
              <option value="2001-2005">2001-2005</option>
              <option value="2002-2006">2002-2006</option>
              <option value="2003-2007">2003-2007</option>
              <option value="2004-2008">2004-2008</option>
              <option value="2005-2009">2005-2009</option>
              <option value="2006-2010">2006-2010</option>
              <option value="2007-2011">2007-2011</option>
              <option value="2008-2012">2008-2012</option>
              <option value="2009-2013">2009-2013</option>
              <option value="2010-2014">2010-2014</option>
              <option value="2011-2015">2011-2015</option>
              <option value="2012-2016">2012-2016</option>
              <option value="2013-2017">2013-2017</option>
              <option value="2014-2018">2014-2018</option>
              <option value="2015-2019">2015-2019</option>
              <option value="2016-2020">2016-2020</option>
              <option value="2017-2021">2017-2021</option>
              <option value="2018-2022">2018-2022</option>
              <option value="2019-2023">2019-2023</option>
              <option value="2020-2024">2020-2024</option>
              <option value="2021-2025">2021-2025</option>
              <option value="2022-2026">2022-2026</option>
              <option value="2023-2027">2023-2027</option>
              <option value="2024-2028">2024-2028</option>
              <option value="2025-2029">2025-2029</option>
              <option value="2026-2030">2026-2030</option>
              <option value="2027-2031">2027-2031</option>
              <option value="2028-2032">2028-2032</option>
              <option value="2029-2033">2029-2033</option>
              <option value="2030-2034">2030-2034</option>
            </select>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="fname">Gender :</label>
            <select class="form-control" id="fname">
              <option class="grey" value="" disabled selected hidden>Select Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="fname">Employer :<span class="required"></span></label>
            <input name="Employer" type="text" placeholder="Employer" class="form-control" id="fname" required>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="fname">Private Email :<span class="required"></span></label>
            <input name="Email" type="email" placeholder="Your Email Id" class="form-control" id="fname" required>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="fname">Address :<span class="required"></span></label>
            <textarea name="Address" class="form-control" placeholder="Your Address" id="fname" required></textarea>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="fname">LinkedIn :</label>
            <input name="LinkedIn" type="url" placeholder="Your Linkedin Page" class="form-control" id="linkedin">
          </div>
          <div class="col-lg-12 mb-3">
            <label for="fname">Designation :<span class="required"></span></label>
            <input name="Designation" type="text" placeholder="Designation" class="form-control" id="fname" required>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="fname">Mobile No. :<span class="required"></span></label>
            <input name="Mobile No" type="tel" pattern="[0-9]{10}" title="10 digits number" placeholder="Your Mobile No."
              class="form-control" id="fname" required>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="fname">Whatsapp No. :<span class="required"></span></label>
            <input name="Whatsapp No." type="tel" pattern="[0-9]{10}" title="10 digits number" placeholder="Your Whatsapp No."
              class="form-control" id="fname" required>
          </div>
          <div class="col-lg-12 mb-3">
            <label for="fname">Marksheet or Any Proof :</label>
            <input name="Marksheet" type="file" accept="application/pdf" class="form-control-file" id="fname">
          </div>
          <div class="d-grid">
            <button class="btn btn-primary btn-lg text-uppercase btn-rounded-none">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Footer  -->
  <div class="foot">
    <ion-icon name="location"></ion-icon><b>Address</b>
    <p> Alumni Association office
      Room No. NB203
      Engineering College Ajmer</p>

    <ion-icon name="call"></ion-icon><b>Phone</b>
    <p>+91 7891012342</p>

    <ion-icon name="mail"></ion-icon><b>Email</b>
    <p><a href="ecaajmer.ac.in">Alumniaffairs.ac.in</a></p>

    <!-- Page to follow -->
    <div class="logo">
      <H2>Follow us on:</H2>
      <ion-icon name="logo-instagram"><a href="instagram.in"></a></ion-icon>
      <ion-icon name="logo-github"><a href="github.in"></a></ion-icon>
      <ion-icon name="logo-google"><a href="ecajmer.ac.in"></a></ion-icon>
      <ion-icon name="logo-linkedin"><a href="ecajmer.ac.in"></a></ion-icon>
    </div>
  </div>
  <div class="note">
    <P>www.ecajmer.ac.in</P>ALUMNI OF GECA.
    <P>Developed by CS Students.</P>GECA
  </div>
</ion-content>